* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1a1a6e;
  margin: 0;
  padding-top: 54px;
  overflow: scroll;
}

p {
  margin: 0;
}

.media-player {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  body {
    margin: auto;
    max-width: 750px;
    padding-top: 0;
  }

  .media-player {
    display: flex;
    flex-direction: row-reverse;
  }
}
.header {
  align-items: center;
  background-color: #1a1a6e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  z-index: 1;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header .arrow-back,
.header .three-dots {
  cursor: pointer;
}

.header .header-text {
  font-size: 20px;
}

@media screen and (min-width: 750px) {
  .header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 54px;
    position: static;
  }
}
.song,
.play-list {
  max-height: 613px;
  width: 375px;
}

.song .album-image-container {
  padding-inline: 25px;
  padding-top: 20px;
}

.song .album-image-container img {
  width: 100%;
}

.song .song-info-container,
.song .time-line-container,
.song .controlls,
.play-list .song-item {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
}

.song .song-info-container {
  padding-top: 25px;
  margin-bottom: 30px;
}

.song .song-info-container .song-info {
  text-align: center;
}

.song .song-info-container .song-info .upper-text {
  font-size: 20px;
}

.song .song-info-container .song-info .lower-text {
  opacity: 0.5;
}

.song .song-info-container .heart {
  opacity: 0.3;
}

.song .time-line-container {
  gap: 15px;
  margin-bottom: 40px;
}

.song .time-line-container .outer-time-line {
  background-color: #010141;
  border-radius: 5px;
  height: 10px;
  width: 100%;
}

.song .time-line-container .outer-time-line .inner-time-line {
  background-color: white;
  border-radius: 5px;
  height: 10px;
  width: 18%;
  overflow: hidden;
}

.song .controlls {
  padding-inline: 30px;
  margin-bottom: 40px;
}

.song .controlls .material-icons {
  font-size: 40px;
}

.song .controlls .previous {
  margin-right: -25px;
}

.song .controlls .play {
  font-size: 80px;
}

.song .controlls .next {
  margin-left: -25px;
  transform: rotate(180deg);
}

.play-list .song-item {
  border-top: 2px solid #010141;
  gap: 20px;
  justify-content: flex-start;
  padding-block: 10px;
  position: relative;
}

.play-list .song-item figure {
  aspect-ratio: 1/1;
  margin: 0;
  width: 60px;
}

.play-list .song-item figure img {
  width: 100%;
}

.play-list .song-item .song-info .lower-text {
  font-size: 12px;
  opacity: 0.5;
}

.play-list .song-item .play {
  opacity: 0.3;
  position: absolute;
  right: 25px;
}

.play-list .song-item:first-child .play {
  opacity: 1;
}

@media screen and (min-width: 750px) {
  .song {
    border-left: 1px solid #010141;
  }
  .play-list {
    border-right: 1px solid #010141;
  }

  .play-list .song-item:first-child {
    border-top: none;
  }
}
